/* ------------------- */
/* One Dark Syntax Coloring */
/* Source: https://github.com/AGMStudio/prism-theme-one-dark */
/* ------------------- */
.theme-light .token.comment .theme-light .cm-comment {
  color: #ababab;
}
.theme-dark .token.comment,
.theme-dark .cm-comment:not(.cm-hashtag),
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--atom-gray-1);
}
.token.punctuation,
.token.plain-text,
.token.dom.variable,
.cm-hmd-codeblock.cm-bracket {
  color: var(--atom-gray-2);
}
code[class*="language-"],
.token.selector,
.cm-tag,
.token.dom.variable,
.token.tag,
.cm-def,
.token.parameter,
.cm-property,
.cm-qualifier {
  color: var(--atom-red);
}
.token.class-name,
.token.maybe-class-name,
.token.property-access,
.token.constant,
.token.builtin,
.cm-variable-2,
.cm-type,
.cm-atom,
code .cm-tag {
  color: var(--atom-yellow);
}
.token.property,
.token.boolean,
.token.number,
.token.symbol,
.token.attr-name,
.token.deleted,
.cm-attribute,
.cm-number,
.cm-property.cm-string {
  color: var(--atom-orange);
}
.token.string,
.token.char,
.token.attr-value,
.token.inserted,
.cm-hmd-codeblock.cm-string,
.cm-hmd-codeblock.cm-string-2 {
  color: var(--atom-green);
}
.token.operator,
.cm-operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--atom-aqua);
}
.token.atrule,
.token.keyword,
.cm-keyword {
  color: var(--atom-purple);
}
.cm-variable,
.token.function,
.token.method,
.token.macro.property {
  color: var(--atom-blue);
}
.token.regex,
.token.important,
.token.variable {
  color: var(--atom-purple);
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}