/* ---------------  */
/* Checklist */
/* --------------- */

.checklist-plugin-main .title {
  font-size: var(--nav-item-size);
}

.checklist-plugin-main .container input.search {
  font-size: var(--font-ui-small);
}

.checklist-plugin-main .group-header button.collapse,
.checklist-plugin-main button.toggle {
  box-shadow: none;
  cursor: pointer;
}

.checklist-plugin-main .classic .content > p {
  font-size: var(--font-ui-smaller);
}

.checklist-plugin-main .toggle .checkbox {
  border-radius: var(--checkbox-radius) !important;
}
